* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2.5rem; }
  .heading-primary--main {
    line-height: 1.3;
    display: block;
    font-size: 6.5rem;
    font-weight: 400;
    letter-spacing: 0.6rem;
    animation: moveInLeft 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #5D5D81, #3B3355);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: scale(1.03);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #ffffff;
  color: #777777; }

.btn--animated {
  animation: moveInBottom .5s ease-out .25s;
  animation-fill-mode: backwards; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  position: relative;
  height: 40rem; }
  .card__side {
    color: #fff;
    font-size: 2rem;
    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #eca026, rgba(185, 19, 19, 0.911)); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #9c1283, #aa2b15); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #44b2e6, #05044d); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #6b330e, #978f1c); }
      .card__side--back-5 {
        background-image: linear-gradient(to right bottom, #396b2a, #1b2e21); }
      .card__side--back-6 {
        background-image: linear-gradient(to right bottom, #772baa, #461b63); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    background-position: center center;
    height: 12rem;
    background-blend-mode: screen;
    -moz-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: url(../img/movies.jpg);
      -webkit-filter: grayscale(1);
      /* Old WebKit */
      filter: grayscale(1); }
    .card__picture--2 {
      background-image: url(../img/friendly_calculator.jpg);
      -webkit-filter: grayscale(1);
      /* Old WebKit */
      filter: grayscale(1); }
    .card__picture--3 {
      background-image: url(../img/color_guessing.jpg);
      -webkit-filter: grayscale(1);
      /* Old WebKit */
      filter: grayscale(1); }
    .card__picture--4 {
      background-image: url(../img/book_tracker.jpg);
      -webkit-filter: grayscale(1);
      /* Old WebKit */
      filter: grayscale(1); }
    .card__picture--5 {
      background-image: url(../img/tip_calculator.jpg);
      -webkit-filter: grayscale(1);
      /* Old WebKit */
      filter: grayscale(1); }
    .card__picture--6 {
      background-image: url(../img/sketch.jpg);
      -webkit-filter: grayscale(1);
      /* Old WebKit */
      filter: grayscale(1); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 70%;
    line-height: 3.5rem; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    -moz-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(236, 160, 38, 0.9), rgba(185, 19, 19, 0.9)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(156, 18, 131, 0.9), rgba(170, 43, 21, 0.9)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(68, 178, 230, 0.9), rgba(5, 4, 77, 0.9)); }
    .card__heading-span--4 {
      background-image: linear-gradient(to right bottom, rgba(107, 51, 14, 0.9), rgba(151, 143, 28, 0.9)); }
    .card__heading-span--5 {
      background-image: linear-gradient(to right bottom, rgba(57, 107, 42, 0.9), rgba(27, 46, 33, 0.9)); }
    .card__heading-span--6 {
      background-image: linear-gradient(to right bottom, rgba(119, 43, 170, 0.9), rgba(70, 27, 99, 0.9)); }
  .card__details {
    padding: 1rem 3rem;
    color: #000000; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center; }
  .card__box {
    text-align: center; }
  .card__description {
    font-size: 1.8rem;
    margin-bottom: 1.5rem; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      margin: 0 3rem; }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__box {
        text-align: center; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 50%;
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    filter: drop-shadow(1px 1px 2px #222); }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 28.3%; } }
    .composition__photo--p1 {
      left: 0;
      top: 0;
      width: 35%; }
    @media (max-width: 56.25em) {
      .composition__photo {
        top: 0;
        left: 0;
        width: 33%; } }
    .composition__photo--p3 {
      left: 66%;
      top: 0;
      width: 35%; }
    @media (max-width: 56.25em) {
      .composition__photo {
        top: 0;
        left: 0;
        width: 33%;
        z-index: 100; } }
    .composition__photo--p2 {
      left: 32%;
      top: 50%;
      width: 35%; }
    @media (max-width: 56.25em) {
      .composition__photo {
        top: 0;
        left: 0;
        width: 33%; } }
    .composition__photo:hover {
      transform: scale(1.1);
      filter: drop-shadow(1.5px 1.5px 4px #222); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 1rem;
      margin: 0 4rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #5D5D81, #3B3355);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  @media (max-width: 56.25em) {
    .feature-box {
      margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box * {
    list-style: none; }

.row {
  max-width: 95rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 0; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 0; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2);
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 5rem) / 3) + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 5rem) / 4) + 2 * 5rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(93, 93, 129, 0.8), rgba(59, 51, 85, 0.8)), url(../img/providence.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4.5rem; }
  .header__logo {
    height: 10rem;
    border-radius: 50%;
    animation: fadeIn 1s ease-out; }
    .header__logo:hover {
      transition: .3s;
      transform: scale(1.2); }
  .header__text-box {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #3B3355;
  padding: 2rem 0;
  font-size: 1.4rem;
  color: #ffffff; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 2rem; }
  .footer__logo {
    width: 10rem;
    height: auto;
    transition: all .3s; }
    .footer__logo:hover {
      transform: scale(1.2); }
  .footer__navigation {
    border-top: 1px solid #ffffff;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    background-color: #3B3355;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #ffffff;
    padding-top: 2rem;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        padding-top: 1rem;
        width: 100%;
        float: none;
        text-align: center; } }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -25vh;
  margin-bottom: 10vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 25rem 4rem; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(93, 93, 129, 0.8), rgba(59, 51, 85, 0.8)), url(../img/providence.jpg);
  background-size: cover;
  transform: skewY(-5deg);
  margin-top: -20rem; }
  .section-features > * {
    transform: skewY(5deg); }

.section-tours {
  margin-top: -20rem;
  background-color: #f7f7f7;
  padding-top: 25rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 25rem 0 10rem 0; } }
