$color-primary: #BFCDE0;
$color-primary-light: #5D5D81;
$color-primary-dark: #3B3355;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #333333;

$color-white: #ffffff;
$color-black: #000000;

$color-card-1-primary: rgb(236, 160, 38);
$color-card-1-secondary: rgba(185, 19, 19, 0.911);
$color-card-2-primary: rgb(156, 18, 131);
$color-card-2-secondary: rgb(170, 43, 21);
$color-card-3-primary: rgb(68, 178, 230);
$color-card-3-secondary: rgb(5, 4, 77);
$color-card-4-primary: rgb(107, 51, 14);
$color-card-4-secondary: rgb(151, 143, 28);
$color-card-5-primary: rgb(57, 107, 42);
$color-card-5-secondary: rgb(27, 46, 33);
$color-card-6-primary: rgb(119, 43, 170);
$color-card-6-secondary: rgb(70, 27, 99);

// Font
$default-font-size: 1.6rem;


// Grid
$grid-width: 95rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 5rem;