$color-primary: #BFCDE0;
$color-primary-light: #5D5D81;
$color-primary-dark: #3B3355;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #333333;

$color-white: #ffffff;
$color-black: #000000;

// Font
$default-font-size: 1.6rem;


// Grid
$grid-width: 95rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 5rem;